:root {
    --custom-color1 : #009688;
    --custom-color2 : #DADBD4;
    --custom-color3 : #FFF;
    --custom-color4 : #EAEAEA;
    --custom-color5 : #F3EEEA;
    --custom-color6 : #D5F9BA;
    --custom-color7 : #8EDAFC;
    --custom-color8 : #B1B1B1;
    --custom-color9 : #6B7376;
}

/* TODO Improve chat element style */

.body-bg {
    background: linear-gradient(to bottom, var(--custom-color1) 140px, var(--custom-color2) 140px calc(100vh - 140px));
    height: 100vh;
}

.ms_centered-container {
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgc-1 {
    background-color: var(--custom-color4);
}

.bgc-2 {
    background-color: var(--custom-color3);
}

.bgc-3 {
    background-color: var(--custom-color7);
}

.bgc-4 {
    background-color: var(--custom-color5);
}

.border-type-1 {
    border: 0.5px solid var(--custom-color8);
}

.font-color-1 {
    color: var(--custom-color8);
}

.font-color-2 {
    color: var(--custom-color9);
}

.f-icon {
    font-size: 1.5rem;
}

p, a, .col-4 .form-control, .msg-dropdown-botton {
    font-size: 0.75rem;
}

.ms_h-60 {
    height: 60px;
}

.ms_h-80 {
    height: 80px;
}

.ms_h-45 {
    height: 45px;
}

.w-15 {
    width: 15%;
}

.w-70 {
    width: 70%;
}


#contacts-list {
    height: calc(95vh - 185px);
    background-color: var(--custom-color3);
}

#contacts-list li {
    border-top: 1px solid var(--custom-color8);
    cursor: pointer;
}

#chat {
    height: calc(95vh - 120px);
    background-image: url(../img/mine.jpg);
    padding: 2rem 6rem 1rem 6rem;
}

.chat-item {
    width: 40%;
    min-width: 10rem;
    border-radius: 5px;
    background-color: var(--custom-color3);
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

#contacts-list li.active {
    background-color: var(--custom-color4);
}

#contacts-list li:hover {
    background-color: var(--custom-color4);
}

.sent-message {
    align-self: end;
    background-color: var(--custom-color6);
}

.small-icon {
    height: 40px;
    width: 40px;
}

.large-icon {
    height: 60px;
    width: 60px;
}

#notification-icon {
    background-color: var(--custom-color3);
    color: var(--custom-color7);
}

.unstyled-link {
    text-decoration: none;
}

.unstyled-link:hover {
    color: #000;
}

.chat-item p {
    text-align: right;
}

.msg-dropdown {
    position: absolute;
    top: 0;
    right: 10px;
}

.msg-dropdown-botton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

h6 {
    word-wrap: break-word;
}

.active-contact p {
    display: none;
}

.active-contact:hover p {
    display: block;
    transition: all 0.5s linear;
}
